/*主页面的css*/
/*==========================================================================*/
/*title的样式*/
.t-title {
  background-color: #1f497d;
  border-color: #1f497d;
}
.t-title .navbar-brand {
  	color: #fff;
}
.t-title .navbar-brand:hover,
.t-title .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
}
.t-title .navbar-text {
  color: #777;
}
.t-title .navbar-nav > li > a {
  color: #fff;
}
.t-title .navbar-nav > li > a:hover,
.t-title .navbar-nav > li > a:focus {
  color: #1f497d;
  background-color: #fff;
}
.t-title .navbar-nav > .active > a,
.t-title .navbar-nav > .active > a:hover,
.t-title .navbar-nav > .active > a:focus {
  color: #1f497d;
  background-color: #fff;
}
.t-title .navbar-nav > .disabled > a,
.t-title .navbar-nav > .disabled > a:hover,
.t-title .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.t-title .navbar-toggle {
  border-color: #ddd;
}
.t-title .navbar-toggle:hover,
.t-title .navbar-toggle:focus {
  background-color: #ddd;
}
.t-title .navbar-toggle .icon-bar {
  background-color: #888;
}
.t-title .navbar-collapse,
.t-title .navbar-form {
  border-color: #e7e7e7;
}
.t-title .navbar-nav > .open > a,
.t-title .navbar-nav > .open > a:hover,
.t-title .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
@media (max-width: 767px) {
  .t-title .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .t-title .navbar-nav .open .dropdown-menu > li > a:hover,
  .t-title .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  .t-title .navbar-nav .open .dropdown-menu > .active > a,
  .t-title .navbar-nav .open .dropdown-menu > .active > a:hover,
  .t-title .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  .t-title .navbar-nav .open .dropdown-menu > .disabled > a,
  .t-title .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .t-title .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
.t-title .navbar-link {
  color: #777;
}
.t-title .navbar-link:hover {
  color: #333;
}
.t-title .btn-link {
  color: #777;
}
.t-title .btn-link:hover,
.t-title .btn-link:focus {
  color: #333;
}
.t-title .btn-link[disabled]:hover,
fieldset[disabled] .t-title .btn-link:hover,
.t-title .btn-link[disabled]:focus,
fieldset[disabled] .t-title .btn-link:focus {
  color: #ccc;
}
/*列表项*/
.d-items{
	margin-top:30px;
	height: 600px;
	background-color: #F2F2F2;
	border-radius: 10px;

}
.d-items ul{
	margin: 10px;
}
.d-items ul li{
	margin-top: 10px;
}
.d-content {
	margin-top:30px;
	height: 600px;
	background-color: #F2F2F2;
	border-radius: 10px;
}
